@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.text-softblue {
    color: #2D4665;
}

#app {
    font-family: 'Poppins', sans-serif;
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
}

nav a {
    color: #2D4665;
}

nav a:hover {
    color: #3D67D2;
}
  
nav a.router-link-exact-active {
    color: #3D67D2;
}