<template>
    <div class="w-full">
        <h2 class="font-semibold text-center text-xl">Perusahaan yang Mempercayakan Solusi Masalahnya Pada Kami</h2>
        <div class="md:flex justify-between mx-28 my-14">
            <img class="w-32" src="../assets/images/himawari.png" alt="">
            <img class="w-14" src="../assets/images/logo_taces_black.png" alt="">
            <img class="w-32" src="../assets/images/himawari.png" alt="">
            <img class="w-32 h-5" src="../assets/images/logo_reka_black.png" alt="">
            <img class="w-14" src="../assets/images/logo_taces_black.png" alt="">
            <img class="w-32 h-5" src="../assets/images/logo_reka_black.png" alt="">
        </div>
    </div>
</template>

<script>
export default {
    name : "HomeFirstSection"
}
</script>