<template>
    <div class="py-20 px-20">
        <h3 class="font-semibold text-gray-400 text-sm mb-3">SEAMLESS WORKFLOW</h3>
        <div class="md:flex">
            <h1 class="font-bold text-black text-3xl w-5/12 leading-normal">Kenapa Harus di Agera Digital <br> dan Apa Saja Perbedaan <br> Penawaran Dari Kami.</h1>
            <div class="w-7/12">
                <p class="text-softblue leading-loose">Agera Digital menyediakan sebuah pengalaman baru dalam memberikan pelayanan jasa pembuatan website dan aplikasi yang mempermudah kamu dalam memantau progress pembuatan dan metode pembayaran yang beragam dan mudah.</p>
                <button class="font-sm font-bold text-black py-2 mt-4 md:flex">LIHAT ALUR PENGERJAAN AGERA DIGITAL <img class="ml-3" src="../assets/images/arrow-right.svg" alt=""> </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name : "HomeSecondSection"
}
</script>