<template>
    <div class="md:flex px-20 py-24">
        <div class="w-1/2">
            <h1 class="text-5xl font-semibold w-full leading-normal">Jasa Pembuatan <br> Website dan Aplikasi Dengan Pengalaman Baru</h1>
            <p class="text-lg w-11/12 text-softblue leading-loose pt-5">Agera Digital menyediakan sebuah pengalaman baru dalam memberikan pelayanan jasa pembuatan website dan aplikasi yang mempermudah kamu dalam memantau progress pembuatan dan metode pembayaran yang beragam dan mudah.</p>
            <div class="md:flex pt-8">
                <button class="bg-blue-500 hover:bg-blue-700 duration-300 font-sm text-white rounded-full py-2 px-8 md:flex">Daftar Gratis <span> <img src="../assets/images/arrow-down-2.png" alt=""> </span> </button>
                <button class="hover:text-black hover:underline duration-300 font-sm text-gray-500 py-2 px-8">Konsultasi masalahmu</button>
            </div>
        </div>
        <div class="w-1/2">
            <img src="../assets/images/hero_image.png" class="pl-10 pt-14" alt="">
        </div>
    </div>
</template>

<script>
export default {
    name : "HomeHeader"
}
</script>